HELM_EMAIL=your_email@example.com
HELM_PASSWORD=your_password
HEADLESS=false
DEBUG=false

NOTIFY_EMAIL_FROM=your_gmail@gmail.com
NOTIFY_EMAIL_TO=recipient@example.com
NOTIFY_EMAIL_APP_PASSWORD=abcd efgh ijkl mnop
